# Copy to config.env or run setup-backblaze.cmd.
# Never share config.env because it contains your secret application key.
B2_KEY_ID=your_key_id
B2_APPLICATION_KEY=your_application_key
B2_BUCKET_ID=6b0bfe4dcd55004aa6050a17
B2_BUCKET_NAME=streampulse-videos-2026
PORT=8787
